# micro-ROS 需要的配置
CONFIG_MICRO_ROS_ESP_NETIF_WLAN=y
CONFIG_MICRO_ROS_ESP_XRCE_DDS_MIDDLEWARE=y

# WiFi
CONFIG_ESP_WIFI_SSID="WHEELTEC_S300"
CONFIG_ESP_WIFI_PASSWORD="dongguan"

# 增大栈空间
CONFIG_ESP_MAIN_TASK_STACK_SIZE=16384
CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096

# PSRAM（如果你的板子有）
CONFIG_ESP32S3_SPIRAM_SUPPORT=y
CONFIG_SPIRAM_MODE_OCT=y